<h1>ember-content-editable</h1>

<pre>
\{{content-editable placeholder="enter something" maxlength=40
                   mouseEnter=(action (mut mouseInside) true) mouseLeave=(action (mut mouseInside) false)
                   length-exceeded=(action displayLengthAlert)
                   id="text-input" class="important" autofocus=true}}
</pre>
{{content-editable value=something placeholder="enter something" maxlength=40
                   mouseEnter=(action (mut mouseInside) true) mouseLeave=(action (mut mouseInside) false)
                   length-exceeded=(action displayLengthAlert)
                   id="text-input" class="important" autofocus=true}}

<div class="jsTest-textOutput">
  output: <pre id="text-output">{{something}}</pre>
</div>

<div>mouse is inside: {{mouseInside}}</div>
<button {{action (mut something) ''}}>clear</button>
