<h1>ember-content-editable</h1>

<pre>
\{{content-editable value=value placeholder="enter something" maxlength=40
                   mouseEnter=(action (mut mouseInside) true) mouseLeave=(action (mut mouseInside) false)
                   enter=(action incrementProperty 'enterCount' 1)
                   escape-press=(action incrementProperty 'escapeCount' 1)
                   length-exceeded=(action displayLengthAlert)
                   id="text-input" class="important" autofocus=true}}
</pre>
{{content-editable value=value placeholder="enter something" maxlength=40
                   mouseEnter=(action (mut mouseInside) true) mouseLeave=(action (mut mouseInside) false)
                   enter=(action incrementProperty 'enterCount' 1)
                   escape-press=(action incrementProperty 'escapeCount' 1)
                   length-exceeded=(action displayLengthAlert)
                   key-up=(action incrementProperty 'keyup' 1)
                   key-press=(action incrementProperty 'keypress' 1)
                   key-down=(action incrementProperty 'keydown' 1)
                   id="text-input" class="important" autofocus=true}}

<p class="jsTest-textOutput info">
  \{{value}}:
  <pre id="text-output">{{value}}</pre>
</p>

<div class="info">
  <div>text length: {{value.length}}</div>
  <div>mouse is inside: {{mouseInside}}</div>
  <div>enter pressed: {{enterCount}}</div>
  <div>escape pressed: {{escapeCount}}</div>
  <div>key-up: {{keyup}}</div>
  <div>key-press: {{keypress}}</div>
  <div>key-down: {{keydown}}</div>
  <button {{action (mut value) ''}}>set value to empty string</button>
</div>

{{content-editable value=nullValue placeholder="placeholder for null value"}}
{{content-editable value=unefinedValue placeholder="placeholder for undefined value"}}
